<div class="jumbotron">
</div>

<h2>ATP Data</h2>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Player Earnings</h4>
    <ul>
      <li> <%= @player_data %> </li>
    </ul>
  </div>
</div>
