<div class="jumbotron">
</div>

<h2>ATP Data</h2>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Player Earnings</h4>
    <ul>
      <%= for player <- @player_data do %>
        <li>
          <% %{name: player_name, amount: player_earnings } = player %>
          <%= player_name %> <%= player_earnings %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
